@{
    ViewBag.Title = "Home";
}

    <div class="jumbotron">
        <h1>On and Off boarding portal</h1>
        <p class="lead">Use this portal to request a new user to be setup by IT</p>
        <br />
        <p><a href="/Home/EmployeeRequest" class="btn btn-primary btn-lg">Request Onboarding &raquo;</a></p>
    </div>
